In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\priya\Downloads\cleaned_all_phones.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [4]:
data.describe()

,inches,battery,ram(GB),weight(g),storage(GB),price(USD)
count,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000
mean,6.422460,4389.798942,6.683862,187.636243,109.164683,337.847036
std,0.477043,784.607022,2.701433,26.200115,74.436484,266.740821
min,3.800000,1821.000000,1.000000,130.000000,1.000000,40.000000
25%,6.300000,4000.000000,4.000000,175.000000,64.000000,179.997500
50%,6.500000,4500.000000,8.000000,187.000000,128.000000,260.000000
75%,6.670000,5000.000000,8.000000,197.250000,128.000000,400.000000
max,10.400000,7250.000000,24.000000,500.000000,512.000000,2300.000000

In [5]:
data.columns

Index(['phone_name', 'brand', 'os', 'inches', 'resolution', 'battery',
       'battery_type', 'ram(GB)', 'announcement_date', 'weight(g)',
       'storage(GB)', 'video_720p', 'video_1080p', 'video_4K', 'video_8K',
       'video_30fps', 'video_60fps', 'video_120fps', 'video_240fps',
       'video_480fps', 'video_960fps', 'price(USD)'],
      dtype='object')

### 1.How many unique  mobile brands are there in the data provided

In [14]:
print("No of unique mobile brands are : ",len(data["brand"].unique()))

No of unique mobile brands are :  13

### 2.What is the average ram size of all the collected data

In [9]:
avg=data['ram(GB)'].mean()
print('The average ram size of all the collected data : ',avg)

The average ram size of all the collected data :  6.6838624338624335

### 3. Which phone is having the maximum battery capacity

In [19]:
data.loc[data['battery']==data['battery'].max(),['phone_name','brand','battery']]

    phone_name  brand  battery
573         V6  Honor     7250

### 4.What is the maximum battery capacity provided by Huawei Company

In [55]:
h=data.loc[data['brand']=='Huawei']
c=h['battery'].max()
print('Max battery capacity provided by Huawei company is :',c)

Max battery capacity provided by Huawei company is : 7000

### 5. Which Phone brand is providing the highest and lowest ram

In [24]:
max_=data.loc[data['ram(GB)']==data['ram(GB)'].max(),['phone_name','brand','ram(GB)']]
min_=data.loc[data['ram(GB)']==data['ram(GB)'].min(),['phone_name','brand','ram(GB)']]

In [25]:
max_

           phone_name    brand  ram(GB)
1505  Redmi K60 Ultra   Xiaomi       24
1506        Ace 2 Pro  OnePlus       24
1510         GT5 240W   Realme       24

In [26]:
min_

                phone_name    brand  ram(GB)
27               Y3 (2017)   Huawei        1
28                      Z4  Samsung        1
69        Galaxy J2 (2017)  Samsung        1
133              Y3 (2018)   Huawei        1
182         Galaxy J2 Core  Samsung        1
230         Galaxy J4 Core  Samsung        1
236         Y5 lite (2018)   Huawei        1
244               Redmi Go   Xiaomi        1
304         Galaxy A2 Core  Samsung        1
363             K20 (2019)       LG        1
550  Galaxy J2 Core (2020)  Samsung        1

### 6. How many phones has android 7.0 as there operating system

In [32]:
os=data.loc[data['os']=='Android 7.0',['phone_name','brand','os']]
print(len(os))
os

33

            phone_name    brand           os
1             K20 plus       LG  Android 7.0
2       P8 Lite (2017)   Huawei  Android 7.0
4                  P10   Huawei  Android 7.0
5           Xperia XA1     Sony  Android 7.0
6             P10 Lite   Huawei  Android 7.0
7             P10 Plus   Huawei  Android 7.0
8     Xperia XA1 Ultra     Sony  Android 7.0
9             X power2       LG  Android 7.0
13           Xperia L1     Sony  Android 7.0
16     Galaxy Xcover 4  Samsung  Android 7.0
18          Galaxy S8+  Samsung  Android 7.0
21             Harmony       LG  Android 7.0
24                  Y7   Huawei  Android 7.0
25         nova 2 plus   Huawei  Android 7.0
26              nova 2   Huawei  Android 7.0
31        Stylo 3 Plus       LG  Android 7.0
33           X venture       LG  Android 7.0
37       Galaxy J7 Max  Samsung  Android 7.0
38    Galaxy J7 (2017)  Samsung  Android 7.0
39       Galaxy J7 Pro  Samsung  Android 7.0
40    Galaxy J5 (2017)  Samsung  Android 7.0
41            Y7 Prime   Huawei  Android 7.0
43           Q8 (2017)       LG  Android 7.0
47        P9 lite mini   Huawei  Android 7.0
49    Galaxy S8 Active  Samsung  Android 7.0
50     Xperia XA1 Plus     Sony  Android 7.0
69    Galaxy J2 (2017)  Samsung  Android 7.0
70        Mate 10 Lite   Huawei  Android 7.0
77       Redmi Y1 Lite   Xiaomi  Android 7.0
78            moto tab   Lenovo  Android 7.0
82               K320t   Lenovo  Android 7.0
91                 X4+       LG  Android 7.0
109  Galaxy J7 Prime 2  Samsung  Android 7.0

### 7.which is the oldest phone announced and also give the announced dates.

In [33]:
data.columns

Index(['phone_name', 'brand', 'os', 'inches', 'resolution', 'battery',
       'battery_type', 'ram(GB)', 'announcement_date', 'weight(g)',
       'storage(GB)', 'video_720p', 'video_1080p', 'video_4K', 'video_8K',
       'video_30fps', 'video_60fps', 'video_120fps', 'video_240fps',
       'video_480fps', 'video_960fps', 'price(USD)'],
      dtype='object')

In [35]:
data.loc[data['announcement_date']==data['announcement_date'].min(),['phone_name', 'brand','announcement_date'
                                    ]]

     phone_name   brand announcement_date
0  Y6II Compact  Huawei        2016-09-01

### 8.Which brand produced maximum number of phone in the given data

In [42]:
print('brands produced maximum no of phones :',data['brand'].max())

brands produced maximum no of phones : Xiaomi

In [43]:
print('Brand produced min no of phones :',data['brand'].min())

Brand produced min no of phones : Apple

### 9.Give the count of phones supporting
##### 4K
##### 8K
##### 1080p

In [60]:
#4k
k_4=data.loc[data['video_4K']==True,['phone_name','brand']]
print(len(k_4))
k_4

801

             phone_name    brand
4                   P10   Huawei
7              P10 Plus   Huawei
11           Xperia XZs     Sony
12    Xperia XZ Premium     Sony
15              F3 Plus     Oppo
...                 ...      ...
1505    Redmi K60 Ultra   Xiaomi
1506          Ace 2 Pro  OnePlus
1509                GT5   Realme
1510           GT5 240W   Realme
1511   vivo iQOO Z7 Pro     Vivo

[801 rows x 2 columns]

In [61]:
#8k
k_8=data.loc[data['video_8K']==True,['phone_name','brand']]
print(len(k_8))
k_8

86

               phone_name    brand
466         Galaxy S20 5G  Samsung
467        Galaxy S20+ 5G  Samsung
468      Galaxy S20 Ultra  Samsung
470   Galaxy S20 Ultra 5G  Samsung
471           Galaxy S20+  Samsung
...                   ...      ...
1447       vivo iQOO Neo8     Vivo
1476        vivo iQOO 11S     Vivo
1497       Galaxy Z Fold5  Samsung
1504           Mix Fold 3   Xiaomi
1505      Redmi K60 Ultra   Xiaomi

[86 rows x 2 columns]

In [63]:
#2k
k_2=data.loc[data['video_1080p']==True,['phone_name','brand']]
print(len(k_2))
k_2

1503

            phone_name   brand
1             K20 plus      LG
2       P8 Lite (2017)  Huawei
3         Redmi Note 4  Xiaomi
4                  P10  Huawei
5           Xperia XA1    Sony
...                ...     ...
1507         vivo Y77t    Vivo
1508               11x  Realme
1509               GT5  Realme
1510          GT5 240W  Realme
1511  vivo iQOO Z7 Pro    Vivo

[1503 rows x 2 columns]

### 10.How many phones supports Li-Po and Li-ion Battery

In [64]:
data.columns

Index(['phone_name', 'brand', 'os', 'inches', 'resolution', 'battery',
       'battery_type', 'ram(GB)', 'announcement_date', 'weight(g)',
       'storage(GB)', 'video_720p', 'video_1080p', 'video_4K', 'video_8K',
       'video_30fps', 'video_60fps', 'video_120fps', 'video_240fps',
       'video_480fps', 'video_960fps', 'price(USD)'],
      dtype='object')

In [68]:
print('phones supports Li-Po and Li-ion Battery :',len(data.loc[(data['battery_type']=='Li-Po') | (data['battery_type']=='Li-ion')]))

phones supports Li-Po and Li-ion Battery : 1242

### 11.How many sony phones supports 720x1280 resolution

In [70]:
data.head()

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.0,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.0
1,K20 plus,LG,Android 7.0,5.3,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.0
2,P8 Lite (2017),Huawei,Android 7.0,5.2,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.0
3,Redmi Note 4,Xiaomi,Android 6.0,5.5,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.0
4,P10,Huawei,Android 7.0,5.1,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.0

In [71]:
data.loc[(data['brand']=='sony') & (data['resolution']=='720x1280')]

Empty DataFrame
Columns: [phone_name, brand, os, inches, resolution, battery, battery_type, ram(GB), announcement_date, weight(g), storage(GB), video_720p, video_1080p, video_4K, video_8K, video_30fps, video_60fps, video_120fps, video_240fps, video_480fps, video_960fps, price(USD)]
Index: []

[0 rows x 22 columns]

### 12.Print a pivot table for finding the average weights ,total weights,based on brand and battery type

In [74]:
pd.pivot_table(data,index='brand',columns='battery_type',values='weight(g)',aggfunc=['mean','sum'])

                    mean                  sum
battery_type      Li-Ion       Li-Po   Li-Ion    Li-Po
brand
Apple         186.227273         NaN   4097.0      NaN
Google        190.666667  176.923077   1144.0   2300.0
Honor         165.333333  190.611570    496.0  23064.0
Huawei        158.354839  187.556604   4909.0  19881.0
LG            154.851852  183.812500   4181.0   8823.0
Lenovo        190.142857  218.586207   2662.0   6339.0
OnePlus              NaN  191.553191      NaN   9003.0
Oppo          157.833333  183.174603   3788.0  34620.0
Realme        166.833333  189.688742   1001.0  28643.0
Samsung       178.531250  196.727273  17139.0  21640.0
Sony          177.333333  178.769231   4256.0   2324.0
Vivo                 NaN  190.232143      NaN  31959.0
Xiaomi        179.294118  195.906883   3048.0  48389.0